.placeholder{
    font-family: 'Indie Flower', cursive;
    font-size: 0.8em;
    color: #393539;
    background-color: white;
    border-color: #32393B;
    width: 350px;
    margin-left: 75px;
    height: 35px;
}