@import url('https://fonts.googleapis.com/css?family=Arapey|Catamaran|Dokdo|Shadows+Into+Light');

* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4em;
  vertical-align: baseline;
  text-decoration: none;
  outline: 0;
}

body {
  margin: 25px auto;
  background-size: cover;
  background: white url("images/bee-705412_1280.png") no-repeat fixed right bottom;
  font-family: 'Arapey', serif;
}

.App {
  border: 5px solid #3d3d5c;
  border-radius: 1%;
  /*background-color: hsla(120, 100%, 50%, 0.3);*/
  background-color: #F8D424;
  text-align: center;
  margin: 20px;
  width: 65%;
  height: auto;
  position: absolute;
  left: 2%;
  top: 2%;
}

/*App.js*/
.addBook {
  margin: 15px;
  padding: 15px;
  background-color: #F8D424;
  font-weight: 900;
  font-size: 20px;
  color: #32393B;
}

@media (orientation: portrait) {  /*portrait: czyli wysokość większa niż szerokość */
  .App{
    width: 95%;
    height: 40%;
  }
}